server:
  port: ${SERVER_PORT:8084}

spring:
  datasource:
    url: ${AUTH_SERVICE_DB_URL:jdbc:postgresql://auth-db:5432/authdb}
    username: ${AUTH_SERVICE_DB_USERNAME}
    password: ${AUTH_SERVICE_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  sql:
    init:
      mode: never

management:
  endpoints:
    web:
      exposure:
        include: health,info

nova:
  security:
    jwt:
      issuer: ${NOVA_SECURITY_JWT_ISSUER}
      secret: ${NOVA_SECURITY_JWT_SECRET}
      access-token-expiration-minutes: ${NOVA_SECURITY_JWT_ACCESS_MINUTES}
      refresh-token-expiration-days: ${NOVA_SECURITY_JWT_REFRESH_DAYS}
  clients:
    user-service:
      base-url: ${NOVA_CLIENTS_USER_SERVICE_BASE_URL}

logging:
  level:
    org.springframework.security: WARN
